DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_password
JWT_REFRESH_SECRET=verysecret
JWT_ACCESS_SECRET=verysecret
CLIENT_URL=http://localhost:5173
NODE_ENV=development
PORT=8000
